.container {
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.site-header {
  text-align: center;
  padding: 20px 0;
  background-color: #ffffff;

  .logo {
    max-height: 200px;
    width: auto;
  }
}
