.profil-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;
      font-size: 1.1rem;
    }
  }
}

.ajout-pieces {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 1em;

  input {
    width: 80px;
    padding: 5px;
  }

      button {
      margin-top: 12px;
      padding: 10px;
      border: none;
      border-radius: 6px;
      background-color: #00DF63;
      color: #fff;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: #009643;
      }
    }
}

.message-pieces {
  margin-top: 10px;
  font-weight: bold;

  &.success {
    color: green;
  }

  &.error {
    color: red;
  }
}
