<nav class="navbar">
  <ul>
    <li><a routerLink="/">Accueil</a></li>

    <ng-container *ngIf="!isLoggedIn">
      <li><a routerLink="/login">Connexion</a></li>
      <li><a routerLink="/register">Inscription</a></li>
    </ng-container>

    <ng-container *ngIf="isLoggedIn">
      <li><a routerLink="/profil">Compte ({{ pseudo }})</a></li>
      <li *ngIf="isAdmin"><a routerLink="/gestion">Gestion</a></li>
      <li><a href="#" (click)="logout()">Déconnexion</a></li>
    </ng-container>
  </ul>
</nav>
